<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web | Project Group 5</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="~{web/header::header}">

</div>
<div class="small-container cart-page">
    <table class="cart-item">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
        <th:block th:each="p : ${listBillDetail}">
            <tr>
                        <td>
                            <div class="cart-info">

                                <img th:src="@{'/api/uploadfile/upload' + ${p.product.thumnailPhoto}}" alt="">
                                <div>
                                    <p>[[${p.product.name}]]</p>
                                    <small>Price: $ [[${p.product.price}]]</small> <br>
                                </div>

                            </div></td>
                        <td><input type="number" th:value="${p.quantity}"
                                   disable></td>
                        <td>$ [[${p.product.price*p.quantity}]]</td>
                        <td><a href="">Remove</a></td>
            </tr>
        </th:block>
        </th:block>
        </th:block>



    </table>

    <div class="total-price">
        <table>

            <tr>
                <td>Total</td>
                <td>$ [[${bill.total}]]</td>
            </tr>
        </table>
    </div>

    <div class="btn-acpt">
        <a href="order" class="btn">Accept</a>
    </div>
</div>
<div th:replace="~{web/footer::footer}">

</div>
<!-- -------- js for toggle menu -------- -->
<!-- -------- js for toggle menu -------- -->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>

</body>
</html>